.card {
    background-color: #27095E;
    border-style: solid;
    border-color: #D411E2;
    border-width: 3px;
    max-width: 45%;
    border-radius: 5px;
    box-shadow: 0 1px 10px #D411E2;
    margin: 1rem;
    padding: 10px;
    margin-left: auto;
}

.btn {
    background-color: #FF9BFC;
    border-color: #DA75E5;
    color: #EFEFEF;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 1px 10px #D411E2;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #000000;
    color: #00E1FF;
}